# Environment variables
# Never commit this file!
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Application-specific state and log files
last_alert_id.txt
*.log

# IDE / Editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
launch.json